@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
}



#wrapper {
    height: 100vh;
    width: 100vw;
}

#caixa-esquerda {
    display: inline-block;
    width: 60%;
    margin-left: 135px;
    margin-top: -277px;
}

#caixa-direita {
    display: inline-block;
    background-color: rgba(93, 93, 125, 0.16);
    height: 100%;
    width: 29.4%;
    position: absolute;
    top: 0px;
}

img {
    width: 330px;
    position: absolute;
    top: 125px;
    right: 150px;
}

h1 {
    width: 370px;
    height: 160px;
    font-size: 50px;
    line-height: 60px;
    color: #5D5D7D;
    margin-top: 380px;
}

p {
    width: 540px;
    height: 144px;
    font-size: 28px;
    line-height: 48px;
    color: #5D5D7D;
    opacity: 0.6;
}

nav {
    font-size: 20px;
    line-height: 41px;
    color: #5D5D7D;
    margin-top: 23px;
    margin-left: 29px;
    cursor: pointer;
}

.tls {
    /*Todos os links*/
    margin-left: 45px;
}

.pesonalizado {
    opacity: 0.4;
}

button {
    margin-top: 51px;
    border-radius: 144px;
    border: none;
    width: 270px;
    height: 62px;
    margin-top: 60px;
    background-color: #9499EA;
    color: white;
    box-shadow: 0px 10px 24px 0px #9499ea19;
    font-size: 24px;
    line-height: 36px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0;
}

@media screen and (max-width: 900px) {
    #caixa-esquerda{
        display: block;
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
    }
    #caixa-direita{
        display: block;
        height: 65%;
        width: 100%;
        top: 365px;   
        /*margin-top:;*/
    }
    img{
        display: block;
        top: 50px;
        left: 21px;
        width: 90%;
    }
    header{
        display: none;
    }

    h1{
        font-size: 36px;
        line-height: 52px;
        margin: 58px 50px 0 58px;
        text-align: center;
        width: 268px;
        height: 104px;
    }

    p{
        width: 296px;
        height: 96px;
        font-size: 14px;
        text-align: center;
        line-height: 24px;
        margin-left: 40px;
        margin-right: 39px;
        margin-bottom: 15px;
        opacity: 0.6;    
    }
    
    button{
        margin: 0 auto;
        display: block;
    }
}
  